@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: #f4f4f4;
  --dark-gray: #333333;
}

body,
input {
  background-color: var(--off-white);
  color: var(--dark-gray);
}
